
    
<div class="component">      
    <div class="grid">
        <h1 folding>Parent component</h1>         
        <span><![CDATA[[(ngModel)]="state.string"]]></span> 
        <input type="text" [(ngModel)]="state.string" /> 
        <span>{{ state.string }}</span>
    </div>
   
    <div class="component">
        <h1 class="sample-content" folding><![CDATA[<smart [state]="state">]]></h1>
        <smart [state]="state"></smart>
    </div>

    <div class="component">
        <h1 class="sample-content" folding><![CDATA[<dumb [string]="state.string">]]></h1>
        <dumb [string]="state.string"></dumb>
    </div>

    <div class="component">
        <h1 class="sample-content" folding><![CDATA[<dumb-2 [string]="state.string" (change)="state.string = $event.target.value">]]></h1>
        <dumb-2 [string]="state.string" (change)="state.string = $event.target.value"></dumb-2>
    </div>
 
</div>