<div>
   
    <div class="col help">
 

        <h1>Programmation reactive (paradigme)</h1>
        
        <div class="row">
        
            <h2>RxJs (library)</h2>

            <h2>Redux (design pattern)</h2>

        </div>

        <h3 style="align-self: flex-end">NgRx (implementation Angular)</h3>

    </div>
    <div class="component grid">      
        <h1>Reactive component</h1>         
        <span><![CDATA[[(ngModel)]="state.string"]]></span> 
        <input type="text" [(ngModel)]="state.string" /> 
        <button (click)="async()">async()</button>
    </div>

</div>